<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="camera1"                   default="t265"/>
    <arg name="camera2"                   default="d435"/>
    <arg name="use_rviz"                  default="false"/>
    <arg name="use_rtabmapviz"            default="false"/>
    <arg name="delete_db"                 default="false"/>
    <arg name="mapping"                   default="false"/>

<!--
    <param name="robot_description" command="$(find xacro)/xacro $(find realsense2_camera)/launch/model/urdf/rovy.xml" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
-->

    <rosparam>
            /t265/tracking_module/enable_relocalization: false
    </rosparam>    

    <include file="$(find realsense2_camera)/launch/rovy_d400_and_t265.launch">
    </include>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="cfg"                value="$(find realsense2_camera)/launch/config.ini"/>
            <arg name="rtabmap_args"       value="--delete_db_on_start" if="$(arg delete_db)"/>
            <arg name="localization"       value="true" unless="$(arg mapping)"/>
            <arg name="frame_id"           value="d435_link"/>
            <arg name="visual_odometry"    value="false"/>
            <arg name="odom_topic"         value="/odom"/>
            <arg name="rgb_topic"          value="/d435/color/image_raw"/>
            <arg name="depth_topic"        value="/d435/aligned_depth_to_color/image_raw"/>
            <arg name="camera_info_topic"  value="/d435/color/camera_info"/>
            <arg name="queue_size"         value="100"/>
            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
    </include>

</launch>
