<launch>
  <group ns="d435">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="d435"/>
      <arg name="serial_no"             value=""/>
      <arg name="tf_prefix"             value="d435"/>
      <arg name="initial_reset"         value="true"/>
      <arg name="align_depth"           value="true"/> -->
      <arg name="filters"               value="pointcloud"/> -->
      <arg name="color_width"           value="424"/>
      <arg name="color_height"          value="240"/>
      <arg name="depth_width"           value="480"/>
      <arg name="depth_height"          value="270"/>
      <arg name="depth_fps"                value="15"/>
      <arg name="color_fps"                value="15"/>
      <arg name="clip_distance"         value="-2"/>

      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_sync"       value="false"/>

      <arg name="scan_range_min"       value="0.1"/>
      <arg name="scan_range_max"       value="4.0"/>
      <arg name="scan_height"          value="70"/>
      <arg name="scan_tilt"            value="15"/>
    </include>
  </group>
</launch>
