<launch>
  <group ns="d435">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="d435"/>
      <arg name="serial_no"             value=""/>
      <arg name="tf_prefix"             value="d435"/>
      <arg name="initial_reset"         value="true"/>
      <arg name="align_depth"           value="true"/> -->
      <arg name="filters"               value="pointcloud"/> -->
      <arg name="color_width"           value="320"/>
      <arg name="color_height"          value="180"/>
      <arg name="depth_width"           value="480"/>
      <arg name="depth_height"          value="270"/>
      <arg name="depth_fps"                value="30"/>
      <arg name="color_fps"                value="30"/>
      <arg name="clip_distance"         value="-2"/>

      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_sync"       value="false"/>
    </include>
  </group>
</launch>
